- content_for :stylesheets do
  = stylesheet_link_tag 'blog'
  = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css'

- wrap_layout :layout do
  %meta{itemprop: "name", content: "Alpine Lab, blog technique"}
  %meta{itemprop: "description", content: "On parle de développement web, d'entreprenariat, de Ruby/Rails, de Haml/Slim, de Sass, de CoffeeScript et d'Ember.js"}
  %meta{itemprop: "url", content: "http://www.alpine-lab.com/blog"}
  %meta{itemprop: "inLanguage", content: "fr"}
  %meta{itemprop: "image", content: "http://www.alpine-lab.com#{image_path('logo-alpinelab-500.png')}"}

  #wrapper
    %header
      = link_to '/blog' do
        .logo
        %h1.sitename
          %span.alpine> Alpine
          %span.lab Lab
          %span.blog blog technique
      .social-networks
        = link_to 'https://github.com/alpinelab', :target => :_blank do
          %i.fa.fa-github
        = link_to 'http://www.linkedin.com/vsearch/p?company=%22Alpine+Lab%22', :target => :_blank do
          %i.fa.fa-linkedin-square
        = link_to 'http://pinterest.com/AlpineLab/', :target => :_blank do
          %i.fa.fa-pinterest
        = link_to 'https://twitter.com/alpinelab', :target => :_blank do
          %i.fa.fa-twitter
        = link_to 'https://plus.google.com/+AlpineLab', :target => :_blank do
          %i.fa.fa-google-plus-square
        = link_to 'https://facebook.com/alpinelab', :target => :_blank do
          %i.fa.fa-facebook-square
    #main
      ~ yield

  #corporate-btn
    = link_to '/' do
      Alpine Lab
      %span.caret

  %footer
    %p
      Le blog d'#{link_to 'Alpine Lab', 'https://plus.google.com/+AlpineLab', {:rel => 'publisher'}}
      est publié sous license #{link_to 'Creative Commons Attribution 3.0 (cc-by-3.0)', 'http://creativecommons.org/licenses/by/3.0/fr/'}.
      Le code est sous licence #{link_to 'MIT', 'http://opensource.org/licenses/MIT'}.
