- content_for :stylesheets do
  = stylesheet_link_tag 'corporate'
  = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'

- wrap_layout :layout do
  %meta{itemprop: "name", content: "Alpine Lab"}
  %meta{itemprop: "description", content: "Agence web jeune et pétillante"}
  %meta{itemprop: "url", content: "http://www.alpine-lab.com"}
  %meta{itemprop: "inLanguage", content: "fr"}
  %meta{itemprop: "image", content: "http://www.alpine-lab.com#{image_path('logo-alpinelab-500.png')}"}

  #wrap
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand{title: 'Alpine Lab'}
            = link_to image_tag('logo-alpinelab-128.png', width: '60px', height: '60px'), '#wrap'
          %ul.nav
            - {:'what-we-do' => 'métiers', :team => 'équipe', :projects => 'réalisations'}.each do |anchor, category|
              %li= link_to category, "##{anchor}"
          %ul.nav.pull-right
            %li#hire-us-btn
              %a.header-btn{href: '/contact'}
                engagez-nous

    = yield
  %footer
    .container
      %p.muted
        Le site d'#{link_to 'Alpine Lab', 'https://plus.google.com/103306769618245403420', {:rel => 'publisher'}}
        est publié sous license #{link_to 'Creative Commons Attribution 3.0 (cc-by-3.0)', 'http://creativecommons.org/licenses/by/3.0/fr/'}.
        Le code est sous licence #{link_to 'MIT', 'http://opensource.org/licenses/MIT'}.
