- content_for :stylesheets do
  = stylesheet_link_tag 'corporate'

- wrap_layout :layout do
  %meta{itemprop: 'name',        content: 'Alpine Lab'                                                        }
  %meta{itemprop: 'description', content: (yield_content(:description) || current_page.data.description)      }
  %meta{itemprop: 'url',         content: 'http://www.alpine-lab.com'                                         }
  %meta{itemprop: 'inLanguage',  content: I18n.locale                                                         }
  %meta{itemprop: 'image',       content: "http://www.alpine-lab.com#{image_path('logo-alpinelab-500.png')}"  }

  #wrap
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand{title: 'Alpine Lab'}
            = link_to '#about' do
              = image_tag('logo-alpinelab-mirroreffect.png', width: '132px', height: '133px')
          #languages
            - [:fr, :en].each do |lang|
              %a.lang{id: lang, href: I18n.locale == lang ? nil : "/#{lang unless lang == :fr}"}
                %img.flag{src: image_path("lang/#{lang}#{'_inactive' if lang == I18n.locale}.png")}

    = yield

  #blog-btn
    = link_to '/blog' do
      = I18n.t('corporate.blog-btn')
      %span.caret

  %footer
    .container
      %p.muted
        = I18n.t('corporate.footer_html')
