- content_for :stylesheets do
  = stylesheet_link_tag 'corporate'
  = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'

- wrap_layout :layout do
  %meta{itemprop: "name", content: "Alpine Lab"}
  %meta{itemprop: "description", content: "Agence web jeune et pétillante"}
  %meta{itemprop: "url", content: "http://www.alpine-lab.com"}
  %meta{itemprop: "inLanguage", content: "fr"}
  %meta{itemprop: "image", content: "http://www.alpine-lab.com#{image_path('logo-alpinelab-500.png')}"}

  #wrap
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container

          %a.btn.btn-navbar{data: {toggle: 'collapse', target: '.nav-collapse'}}
            - 3.times do
              %span.icon-bar

          .brand{title: 'Alpine Lab'}
            = link_to '#about' do
              = image_tag('logo-alpinelab-128.png', width: '60px', height: '60px')
              .hidden-desktop
                %span.alpine> Alpine
                %span.lab Lab
          .nav-collapse.collapse
            %ul.nav
              - [:about, :'what-we-do', :team, :projects].each do |category|
                %li= link_to I18n.t("corporate.header.#{category}"), "##{category}"
              %li= link_to I18n.t('corporate.header.blog'), '/blog'
            %ul.nav.pull-right
              %li#hire-us-btn
                %a.header-btn{href: "mailto:dahu@alpine-lab.com?subject=#{I18n.t('corporate.common.email-subject')}", target: :_blank}
                  = I18n.t('corporate.common.hire-us_html')

    = yield
  %footer
    .container
      %p.muted
        = I18n.t('corporate.footer_html')
