!!!
%html
  %head
    %title= current_page.data.title

    %meta{charset: "UTF-8"}
    %meta{name:     'description',    content: (yield_content(:description) || current_page.data.description)}
    %meta{name:     'viewport',       content: 'width=device-width, initial-scale=1.0, user-scalable=no'}
    %meta{property: 'og:title',       content: (yield_content(:title) || current_page.data.title)}
    %meta{property: 'og:description', content: (yield_content(:description) || current_page.data.description)}
    %meta{property: 'og:locale',      content: "#{I18n.locale}_#{I18n.locale.upcase}"}
    %meta{property: 'og:site_name',   content: 'Alpine Lab'}
    %meta{property: 'og:url',         content: "https://www.alpine-lab.com#{current_page.url}"}
    %meta{property: 'og:image',       content: "https://www.alpine-lab.com#{asset_path(:images, 'logo-alpinelab-500.png')}"}
    %meta{property: 'og:type',        content: (yield_content(:og_type) || 'website')}

    %link{rel: "apple-touch-icon", sizes: "180x180", href: "/apple-touch-icon-180x180-precomposed.png"}
    %link{rel: "apple-touch-icon", sizes: "152x152", href: "/apple-touch-icon-152x152-precomposed.png"}
    %link{rel: "apple-touch-icon", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png"}
    %link{rel: "apple-touch-icon", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png"}
    %link{rel: "apple-touch-icon", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png"}
    %link{rel: "apple-touch-icon", href: "/apple-touch-icon-precomposed.png"}
    %link{rel: "shortcut icon", href: "/favicon.png"}
    %link{rel: "icon", type: "image/ico", href: "/favicon.ico"}

    %link{href: 'https://fonts.googleapis.com/css?family=Lato:300,400,700%7CMontserrat:400,700', rel: 'stylesheet', type: 'text/css'}

    = yield_content :stylesheets

  %body{class: page_classes}
    = yield

    = yield_content :javascripts
