---
title: Alpine Lab, la société
priority: 0.9
layout: blog
---

%section#company
  %h2
    La société
    = link_to 'https://github.com/alpinelab', :target => :_blank do
      %i.icon-github.icon-large
    = link_to 'http://pinterest.com/AlpineLab/', :target => :_blank do
      %i.icon-pinterest.icon-large
    = link_to 'https://twitter.com/alpinelab', :target => :_blank do
      %i.icon-twitter.icon-large
    = link_to 'https://plus.google.com/103306769618245403420', :target => :_blank do
      %i.icon-google-plus-sign.icon-large
    = link_to 'https://facebook.com/alpinelab', :target => :_blank do
      %i.icon-facebook-sign.icon-large
    = link_to 'mailto:dahu@alpine-lab.com' do
      %i.icon-envelope.icon-large

  %article#alpinelab

    .avatar

    %h4 Notre métier : concevoir des sites web
    %p
      Chez #{link_to 'Alpine Lab', '/'}, on aime les nouvelles technologies, que les sites soient <u>élégants</u> (donc esthétiques et bien codés) et surtout qu'ils soient <u>simples</u>.

    %h4 Nos valeurs : Unix et open source
    %p
      Chez nous, chaque entité fait une et une seule chose, mais la fait parfaitement bien (philosophie Unix, <u>single responsibility principle</u>).
    %p
      Nous croyons très fort en l'ouverture : ouverture du code (<u>open source</u>), ouverture des données (<u>open data</u>) et ouverture d'esprit (innovation de rupture).

    %h4 Nos atouts : technologies de pointe et acharnement
    %p
      Nous réalisons des sites basés sur les dernières technologies dans tous les domaines : côté serveur (<u>RubyOnRails</u>, HAML, Sass), côté client (<u>Ember.js</u>, CoffeeScript, HTML5, CSS3), pour l'hébergement des sites (PaaS, notamment Heroku).
    %p
      Nos process de travail sont également pensés en suivant les dévelopements modernes d'execution : <u>test driven development</u>, intégration continue (Travis), code versionné (Github) et organisé (git flow), lean management.
    %p
      Mais notre meilleur atout, c'est probablement <u>notre détermination</u>. On aime les sites simples et intuitifs, et on va y passer des heures pour faire économiser quelques secondes à nos utilisateurs.
  .clearfix
