- content_for :javascripts do
  :javascript
    function rotateWord() {
      words = #{I18n.t('corporate.about.rotating-words_js')};
      $('.rotating-words').text(words[Math.floor(Math.random() * words.length)]);
      window.setTimeout(rotateWord, 500);
    }
    $(document).ready(rotateWord)

%section#about
  .container
    %p= I18n.t('corporate.about.tagline_html')
    .star-delimiter
    .row
      .span3
      - [:design, :dev, :consulting].each do |domain|
        .span2
          .flip-container{ontouchstart: "this.classList.toggle('hover');"}
            .flipper
              .front.domain-badge{id: "badge-#{domain}"}
              .back
                %p= I18n.t("corporate.about.domain-#{domain}")
