%section#about
  .container
    %h1.alpinelab
      %span.alpine.visible-phone Alpine
      %span.alpine.hidden-phone> Alpine
      %span.lab Lab
    .row-fluid
      %p.offset2.span8
        Nous sommes une équipe aux parcours et aux profils complémentaires.
    .row-fluid
      %p
        Nous utilisons notre bon sens, notre imagination et la puissance de Ruby on Rails,
        %br.hidden-phone/
        pour concevoir des sites web simplement innovants...
      %p
        Accessoirement, nous sommes aussi un groupe d'amis !
    %ul.members.row-fluid
      .span1.visible-desktop
      - {thibault: '/dev', martin: '/design', mathilde: '/marketing', steeve: '/design', mike: '/dev'}.each do |name, tag|
        %li.member.span2
          = link_to "##{name}" do
            .flip-container{ontouchstart: "this.classList.toggle('hover');"}
              .flipper
                .front.member-badge{id: "badge-#{name}"}
                .back
                  %p= tag
  - (1..10).each do |i|
    .transition-square.visible-desktop{id: "transition-square-#{i}"}
