%section#about
  .container
    %h1.alpinelab
      %span.alpine.visible-phone Alpine
      %span.alpine.hidden-phone> Alpine
      %span.lab Lab
    %p= I18n.t('corporate.about.sentence1_html')
    %p= I18n.t('corporate.about.sentence2_html')
    %p= I18n.t('corporate.about.sentence3_html')
    %ul.members.row-fluid
      .span1.visible-desktop
      - {thibault: '/dev', martin: '/design', mathilde: '/marketing', steeve: '/design', mike: '/dev'}.each do |name, tag|
        %li.member.span2
          = link_to "##{name}" do
            .flip-container{ontouchstart: "this.classList.toggle('hover');"}
              .flipper
                .front.member-badge{id: "badge-#{name}"}
                .back
                  %p= tag
  - (1..10).each do |i|
    .transition-square.visible-desktop{id: "transition-square-#{i}"}
