%section#commitments
  %h3.section__title= I18n.t("corporate.commitments.title")
  
  .container.row
    .col-3.col.col--centered
      %h5.commitments__title= I18n.t("corporate.commitments.open-source-title")
      %p= I18n.t("corporate.commitments.open-source-description")
      
    .col-3.col.col--centered
      %h5.commitments__title= I18n.t("corporate.commitments.community-title")
      %ul.commitments__list
        %li.commitments__item
          %a.commitments__link.commitments__link--lyon-rb{href: '#', target: '_blank'} Lyon RB
        %li.commitments__item
          %a.commitments__link.commitments__link--rails-girls-lyon{href: '#', target: '_blank'} Rails Girls
        %li.commitments__item
          %a.commitments__link.commitments__link--cuisine-du-web{href: '#', target: '_blank'} Cuisine du web
    
    .col-3.col.col--centered
      %h5.commitments__title= I18n.t("corporate.commitments.conferences-title")
      %ul.commitments__list
        %li.commitments__item
          %a.commitments__link.commitments__link--rulu{href: '#', target: '_blank'} Rulu
        %li.commitments__item
          %a.commitments__link.commitments__link--la-conf-paris{href: '#', target: '_blank'} La Conf Paris+
        %li.commitments__item
          %a.commitments__link.commitments__link--blend-web-mix{href: '#', target: '_blank'} Blend Web Mix
