%section#commitments
  %h3.section__title.section__title--blue= I18n.t("corporate.commitments.title")
  
  .container.row
    .col-3.col.col--centered
      %h5.commitments__title= I18n.t("corporate.commitments.open-source-title")
      %p= I18n.t("corporate.commitments.open-source-description")
      
    .col-3.col.col--centered
      %h5.commitments__title= I18n.t("corporate.commitments.community-title")
      %ul.commitments__list
        %li.commitments__item
          %a.commitments__link.commitments__link--lyon-rb{href: "http://lyonrb.fr", target: "_blank"} Lyon RB
        %li.commitments__item
          %a.commitments__link.commitments__link--rails-girls-lyon{href: "http://railsgirls.com", target: "_blank"} Rails Girls
        %li.commitments__item
          %a.commitments__link.commitments__link--cuisine-du-web{href: "http://lacuisineduweb.com", target: "_blank"} Cuisine du web
    
    .col-3.col.col--centered
      %h5.commitments__title= I18n.t("corporate.commitments.conferences-title")
      %ul.commitments__list
        %li.commitments__item
          %a.commitments__link.commitments__link--rulu{href: "http://rulu.eu", target: "_blank"} Rulu
        %li.commitments__item
          %a.commitments__link.commitments__link--la-conf-paris{href: "http://2014.la-conf.org", target: "_blank"} La Conf Paris+
        %li.commitments__item
          %a.commitments__link.commitments__link--blend-web-mix{href: "http://blendwebmix.com", target: "_blank"} Blend Web Mix
