%footer#footer
  .row.container
    .col-3
      .footer__logo.logo.hidden
        = partial "svg-logo", locals: { width: 137, height: 49, strokeColor: "#202023" }
        %p.name= '<i class="alpine-word word">Alpine</i><i class="lab-word word">lab</i>'.html_safe

    .col-3
      %h5= I18n.t("corporate.footer.contact-title")
      %ul.footer__address
        = I18n.t("corporate.common.address_html")
        %li
          %a{href: "mailto:dahu@alpine-lab.com", class: "write-us"}
            %span= I18n.t("corporate.common.hire-us_html")
    
    .col-3
      %h5
        = link_to I18n.t("corporate.footer.articles-title"), '/blog'
      %ul.footer__last-articles
        - page_articles[0..5].each do |article|
          %li= link_to article.title, article.url

  .footer__bottom
    .container
      %ul.alpine-social-networks
        %li
          %a{href: "https://github.com/alpinelab", target: "_blank", class: "fa fa-github", title: "Github"}
            %i Github
        %li
          %a{href: "https://twitter.com/alpinelab", target: "_blank", class: "fa fa-twitter", title: "Twitter"}
            %i Twitter
        %li
          %a{href: "https://www.linkedin.com/company/alpine-lab", target: "_blank", class: "fa fa-linkedin-square", title: "LinkedIn"}
            %i LinkedIn

      %p.copyright= I18n.t("corporate.footer.copyright")
