%footer#footer
  .row.container
    .col-3.col
      .footer__logo.logo.hidden
        = partial "svg-logo-vertical", locals: { width: 233, height: 120}

    .col-3.col
      %article
        %h5= I18n.t("corporate.footer.title")
        %ul.footer__address
          = I18n.t("corporate.common.address_html")
          %li
            %a{href: "mailto:dahu@alpine-lab.com", class: "footer__write-us"}
              %span= I18n.t("corporate.common.hire-us_html")

    .col-3.col
      %h5
        = link_to I18n.t("corporate.footer.articles-title"), '/blog'
      %ul.footer__last-articles
        - page_articles[0..5].each do |article|
          %li= link_to article.title, article.url

  .footer__bottom
    .container
      %ul.alpine-social-networks
        %li
          %a{href: "https://github.com/alpinelab", target: "_blank", class: "fa fa-github", title: "Github"}
            %i Github
        %li
          %a{href: "https://twitter.com/alpinelab", target: "_blank", class: "fa fa-twitter", title: "Twitter"}
            %i Twitter
        %li
          %a{href: "https://www.linkedin.com/company/alpine-lab", target: "_blank", class: "fa fa-linkedin-square", title: "LinkedIn"}
            %i LinkedIn

      %p.footer__copyright= I18n.t("corporate.footer.copyright")
