%section#our-projects
  %h3.section__title= I18n.t("corporate.our-projects.title")

  %ul.our-projects__list.container
    - %w{locale kyero guerir-le-regard iperia misterbnb accorlocal sirac goodsh save}.each do |project_name|
      %li.our-projects__list-item
        - project_url = I18n.t("corporate.our-projects.#{project_name}.link")
        %a.project{href: project_url, target: ("_blank" if project_url.start_with? "http") }
          %div
            .project-bg{class: "project-bg--#{project_name}"}
            .project-overlay
              .project-bg-color{class: "project-bg-color--#{project_name}"}
              %h4.project-title= I18n.t("corporate.our-projects.#{project_name}.title")
              %p.project-description= I18n.t("corporate.our-projects.#{project_name}.description")
              %p.project-stack= I18n.t("corporate.our-projects.#{project_name}.stack")
    %li.our-projects__list-item.empty
      %a.project.no-hover
    %li.our-projects__list-item
      %a.project.no-hover.scroll-to{href: "#footer"}
        %div
          .project-bg{class: "project-bg--your_project"}
          .project-overlay
            .project-bg-color{class: "project-bg-color--your_project"}
            %h4.project-title= I18n.t("corporate.our-projects.your_project.title")
            %p.project-description= I18n.t("corporate.our-projects.your_project.description")
    %li.our-projects__list-item.empty
      %a.project.no-hover
