%section#projects
  %h2= I18n.t('corporate.projects.title')
  .star-delimiter

  %h3= I18n.t('corporate.projects.skiwallet.title')
  %ul.description= I18n.t('corporate.projects.skiwallet.description_html')
  %img{src: image_path('projects-skiwallet.jpg')}
  %img{src: image_path('projects-skiwallet-items.jpg')}
  .video-container
    .embed-container
      %iframe{src: 'http://player.vimeo.com/video/60546380', frameborder: 0, webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
  .star-delimiter

  - ['youpijob', 'locale', 'almostbio'].each do |project|
    %h3= I18n.t("corporate.projects.#{project}.title")
    %ul.description= I18n.t("corporate.projects.#{project}.description_html")
    %img{src: image_path("projects-#{project}.jpg")}
    .star-delimiter
