%section#team.container
  %h3.section__title= I18n.t("corporate.team.title")
  .row
    - data.team.each do |member|
      .col-4.col.col--centered
        %img{src: gravatar_for(member.email), class: "avatar", alt: member.email}
        %h4= member.name
        %ul.social-networks
          %li
            %a{href: "https://github.com/#{member.github}", target: "_blank"} Github
          - if member.twitter
            %li
              %a{href: "https://twitter.com/#{member.twitter}", target: "_blank"}
                Twitter
  .row
    .col-1.col.col--centered
      %p= I18n.t("corporate.team.join-us")
