%section#team
  .container
    %h2= I18n.t('corporate.team.title')
    .row
      %article#mike.col-sm-4.col-sm-offset-1
        .avatar
        %p= I18n.t('corporate.team.mike_html')
        %ul.social-networks
          %li= link_to 'GitHub', 'https://github.com/michaelbaudino', :target => :_blank
          %li= link_to 'Twitter', 'https://twitter.com/michaelbaudino', :target => :_blank
          %li= link_to 'LinkedIn', 'https://linkedin.com/in/michaelbaudino', :target => :_blank
        .star-delimiter

      %article#thibault.col-sm-4.col-sm-offset-2
        .avatar
        %p= I18n.t('corporate.team.thibault_html')
        %ul.social-networks
          %li= link_to 'GitHub', 'https://github.com/thibaultdalban', :target => :_blank
          %li= link_to 'Twitter', 'https://twitter.com/kh_thib', :target => :_blank
          %li= link_to 'LinkedIn', 'https://linkedin.com/pub/thibault-dalban/3/659/386', :target => :_blank
        .star-delimiter

    .row
      %article#martin.col-sm-4.col-sm-offset-4
        .avatar
        %p= I18n.t('corporate.team.martin_html')
        %ul.social-networks
          %li= link_to 'Twitter', 'https://twitter.com/martin_thibault', :target => :_blank
          %li= link_to 'LinkedIn', 'https://linkedin.com/pub/martin-thibault/14/a4/99', :target => :_blank
        .star-delimiter

