%section#what-we-do
  .container
    %h3.section__title= I18n.t("corporate.what-we-do.title")
    .row
      - %w{enterprises startups quality}.each do |domain|
        .col-3.col.col--centered
          %h4= I18n.t("corporate.what-we-do.#{domain}.title")
          %p= I18n.t("corporate.what-we-do.#{domain}.details")
  
  .how-we-do
    .row.container
      - %w{pricing contracts}.each do |col|
        .col-2.col.col--centered
          %h4= I18n.t("corporate.what-we-do.#{col}.title")
          %p= I18n.t("corporate.what-we-do.#{col}.details")
