%section#what-we-do
  .container
    %h2= I18n.t('corporate.what-we-do.title')
    .row
      - [:design, :dev, :consulting].each do |domain|
        .span4.domain
          %h3
            = I18n.t("corporate.what-we-do.#{domain}.title")
          %p.domain-content= I18n.t("corporate.what-we-do.#{domain}.content")
          %p.domain-details= I18n.t("corporate.what-we-do.#{domain}.details")
          .star-delimiter