---
title: Alpine Lab
priority: 1.0
layout: corporate
---

.container.full-width
  %section#about
    .container
      %h1.alpinelab
        %span.alpine> Alpine
        %span.lab Lab
      .row-fluid
        %p.offset2.span8
          Nous sommes une agence web aux profils multiples.
      .row-fluid
        %p
          Notre diversité, c’est notre complémentarité :
          %br/
          elle nous permet de sortir des sentiers battus pour concevoir des solutions innovantes,
          %br/
          intégrant toutes les expertises du  domaine du web.
      %ul.row-fluid
        .span1
        - {thibault: '/dev', martin: '/design', mathilde: '/marketing', steeve: '/design', mike: '/dev'}.each do |name, tag|
          %li.span2
            = link_to "/pages/equipe##{name}" do
              .flip-container{ontouchstart: "this.classList.toggle('hover');"}
                .flipper
                  .front.avatar{id: name}
                  .back
                    %p= tag

  %section#what-we-do
    .container
      %h2 MÉTIERS
      %ul.row-fluid
        %li.span4
          %i.icon-beaker.icon-large
          %h3 Design
          %p L’expérience utilisateur est transversale, concerne chaque étape de la conception et implique l’ensemble de nos savoirs-faire.
          %p Nos objectifs : créer des solutions <strong>fluides</strong>, <strong>ergonomiques</strong> et <strong>efficaces</strong>. Un accès immédiat au contenu récherché, en travaillant notamment la hiérarchie de l’information.
          %ul.features
            %li
              %h4 Services clés
            - ['audits', 'parcours utilisateur', 'stratégie de contenu', 'hiérarchie de l\'information', 'maquettes et prototypes', 'ergonomie'].each do |feature|
              .row-fluid
                %li.span8.offset4= "/ #{feature}"

        %li.span4
          %i.icon-code.icon-large
          %h3 Technique
          %p
            Nos process de travail sont également pensés en suivant les dévelopements modernes d'execution : <strong>test driven development</strong>, intégration continue (
            %a{href: 'https://travis-ci.org'}> Travis
            ), code versionné (
            %a{href: 'https://github.com'}> Github
            ) et organisé (git flow), lean management.
          %p Mais notre meilleur atout, c'est probablement notre détermination. Nous aimons les sites <strong>simples et intuitifs</strong>, et nous sommes prêts à  passer des heures pour faire économiser quelques secondes à nos utilisateurs.
          %ul.features
            %li
              %h4 Technologies clés
            - [['RubyOnRails', 'Haml', 'Sass'], ['Ember.js', 'CoffeeScript'], ['HTML5', 'CSS3'], ['Heroku', 'OpenShift']].each do |feature_group|
              .row-fluid
                %li.span8.offset4
                  - feature_group.each do |feature|
                    = "/ #{feature}"

        %li.span4
          %i.icon-calendar.icon-large
          %h3 Management
          %p Blah blah
  .container
    %section#hire-us
      .row
        .span9
          %h1.animate
            Engagez-nous
            %i.icon-arrow-right
        .span3
          %h1
            %a.btn.btn-large.btn-danger{href: '/contact'}
              De toute urgence !

#push

