---
title: Alpine Lab
description: Agence web à Lyon, spécialisée Ruby et Rails, créateurs de SkiWallet. Développement agile, création de sites et applications web ergonomiques et responsives.
---

%header#header
  .container
    %h1.header__logo.logo
      %a{href: "#"}
        = partial "svg-logo", locals: { width: 68, height: 24, strokeColor: "#fff" }
        %span.name Alpinelab

    %ul.header__languages
      %li.header__languages-item
        %a.active{href: "#"} fr
      %li.header__languages-item
        %a{href: "#"} en

%main{role: "main"}
  %section#intro
    .parallax-bg

    .container  
      %h2
        Applications personnalisées,
        %br
        simples et ergonomiques.
      %h3
        Solutions principalement développées sous
        %a{href: 'http://rubyonrails.org', target: '_blank'} Ruby on Rails

  %section#our-jobs.container
    %h3.section__title Nos métiers
    .row
      .col-3.col-3--centered
        %h4 Nos solutions sont fluides, simples, ergonomiques et efficaces.
        %p Nous concevons des solutions esthétiques, valorisant l'identité visuelle de nos clients. Pour nous, l'expérience utilisateur doit avant tout permettre un accès rapide aux contenus recherchés.
      .col-3.col-3--centered
        %h4 Nous développons en Ruby on Rails: moderne, rapide, élégant...
        %p ... et beaucoup d'autres technologies. Nos process de travail incluent du lean management, du TDD (test-driven development), de l'intégration continue (Travis) et un code versionné et organisé (GitHub + GitFlow).
      .col-3.col-3--centered
        %h4 Nous élaborons et implémentons des stratégies digitales globales.
        %p Pour concevoir les solutions les mieux adaptées, notre approche Design Thinking est intégrée de manière transversale et inspirée par la veille : technologique, stratégique, design, tendances, usages.
      
  %section#commitments
    .container
      %h3.section__title Nos engagements
      %ul.commitments__list
        %li.commitments__item
          %a.commitments__link.commitments__link--lyon-rb{href: '#', target: '_blank'} Lyon RB
        %li.commitments__item
          %a.commitments__link.commitments__link--la-conf-paris{href: '#', target: '_blank'} La Conf Paris
        %li.commitments__item
          %a.commitments__link.commitments__link--rails-girls-lyon{href: '#', target: '_blank'} Rails Girls
        %li.commitments__item
          %a.commitments__link.commitments__link--open-source{href: '#', target: '_blank'} Open Source
        %li.commitments__item
          %a.commitments__link.commitments__link--rulu{href: '#', target: '_blank'} Rulu
        %li.commitments__item
          %a.commitments__link.commitments__link--cuisine-du-web{href: '#', target: '_blank'} Cuisine du web

  %section#team.container
    %h3.section__title.section__title--blue= I18n.t("team.title")
    .row
      - I18n.t("team.members").each do |member|
        .col-3.col-3--centered
          %img{src: gravatar_for(member[:email]), class: "avatar", alt: member[:name]}
          %h4= member[:name]
          %p= member[:description]
          %ul.social-networks
            %li
              %a{href: "https://github.com/#{member[:github]}", target: "_blank"} Github
            %li
              %a{href: "https://twitter.com/#{member[:twitter]}", target: "_blank"} Twitter
            - if member[:linkedin].present?
              %li 
                %a{href: "https://linkedin.com/in/#{member[:linkedin]}", target: "_blank"} LinkedIn
  
%footer#footer
  .row.container
    .col-3
      .footer__logo.logo.hidden
        = partial "svg-logo", locals: { width: 137, height: 49, strokeColor: "#202023" }
        %p.name= '<i class="alpine-word word">Alpine</i><i class="lab-word word">lab</i>'.html_safe

    .col-3
      %h5 Nous contacter
      %ul.footer__address
        %li 1 rue de la Martinière
        %li 69001 Lyon
        %li
          %a{href: "mailto:dahu@alpine-lab.com"} dahu@alpine-lab.com
        %li
          %a{href: "tel:+33950831231"} 09.50.83.12.31
        %li
          %a{href: "mailto:dahu@alpine-lab.com", class: "write-us"}
            %span Écrivez-nous
    
    .col-3
      %h5
        %a{href: "#", target: "_blank"} Derniers articles
      %ul.footer__last-articles
        %li
          %a{href: "#"} Des helpers pour vérifier la version de Rails
        %li
          %a{href: "#"} SkiWallet à la conférence Blend
        %li
          %a{href: "#"} Installer git-flow dans une box Nitrous.IO
        %li
          %a{href: "#"} Git en couleurs
        %li
          %a{href: "#"} Traduire son site Middleman avec Locale
        %li
          %a{href: "#"} Générer ses vues Devise en Haml

  .footer__bottom
    .container
      %ul.alpine-social-networks
        %li
          %a{href: "https://github.com/alpinelab", target: "_blank", class: "fa fa-github", title: "Github"}
        %li
          %a{href: "https://twitter.com/alpinelab", target: "_blank", class: "fa fa-twitter", title: "Twitter"}
        %li
          %a{href: "https://www.linkedin.com/company/alpine-lab", target: "_blank", class: "fa fa-linkedin-square", title: "LinkedIn"}

      %p.copyright
        Le blog d'#{link_to "Alpine Lab", "https://plus.google.com/+AlpineLab", {rel: "publisher", target: "_blank"}}
        est publié sous license #{link_to "Creative Commons Attribution 3.0 (cc-by-3.0)", "http://creativecommons.org/licenses/by/3.0/fr/", {target: "_blank"}}.
        %br
        Le code est sous licence #{link_to "MIT", "http://opensource.org/licenses/MIT", {target: "_blank"}}.
