---
title: Alpine Lab
priority: 1.0
layout: corporate
---

- content_for :javascripts do
  :javascript
    $('.navbar ul.nav a, .navbar .brand a, .members .member a').bind('click',function(event){
        $('html, body').stop().animate({
            scrollTop: $($(this).attr('href')).offset().top - 100
        }, 300);
        event.preventDefault();
    });


.container.full-width
  %section#about
    .container
      %h1.alpinelab
        %span.alpine> Alpine
        %span.lab Lab
      .row-fluid
        %p.offset2.span8
          Nous sommes une agence web aux profils multiples.
      .row-fluid
        %p
          Notre diversité, nous permet d'aborder les projets sous divers angles,
          %br/
          en confrontant nos points de vue pour concevoir des solutions innovantes.
        %p Ouais.
      %ul.members.row-fluid
        .span1
        - {thibault: '/dev', martin: '/design', mathilde: '/marketing', steeve: '/design', mike: '/dev'}.each do |name, tag|
          %li.member.span2
            = link_to "##{name}" do
              .flip-container{ontouchstart: "this.classList.toggle('hover');"}
                .flipper
                  .front.member-badge{id: "badge-#{name}"}
                  .back
                    %p= tag
    - (1..8).each do |i|
      .transition-square{id: "transition-square-#{i}"}

  %section#what-we-do
    .container
      %h2 MÉTIERS
      %ul.row-fluid
        %li.span4.domain
          %i.icon-beaker.icon-large
          %h3 Design
          %p L’expérience utilisateur est transversale, concerne chaque étape de la conception et implique l’ensemble de nos savoirs-faire.
          %p Nos objectifs : créer des solutions <strong>fluides</strong>, <strong>ergonomiques</strong> et <strong>efficaces</strong>. Proposer un accès immédiat au contenu recherché, en travaillant notamment la hiérarchie de l’information.
          .features
            %h4 Services clés
            - ['audits', 'parcours utilisateur', 'stratégie de contenu', 'hiérarchie de l\'information', 'maquettes et prototypes', 'ergonomie'].each do |feature|
              %ul.row-fluid
                %li.span10.offset2= "/ #{feature}"

        %li.span4.domain
          %i.icon-code.icon-large
          %h3 Technique
          %p
            Nos process de travail sont également pensés en suivant les dévelopements modernes d'execution : <strong>test driven development</strong>, intégration continue (
            %a{href: 'https://travis-ci.org'}> Travis
            ), code versionné (
            %a{href: 'https://github.com'}> Github
            ) et organisé (git flow), lean management.
          %p Mais notre meilleur atout, c'est probablement notre détermination. Nous aimons les sites <strong>simples et intuitifs</strong>, et nous sommes prêts à  passer des heures pour faire économiser quelques secondes à nos utilisateurs.
          .features
            %h4 Technologies clés
            - [['RubyOnRails', 'Haml', 'Sass'], ['Ember.js', 'CoffeeScript'], ['HTML5', 'CSS3'], ['Heroku', 'OpenShift']].each do |feature_group|
              %ul.row-fluid
                %li.span10.offset2
                  - feature_group.each do |feature|
                    = "/ #{feature}"

        %li.span4.domain
          %i.icon-calendar.icon-large
          %h3 Management
          %p Nous intégrons la stratégie et la planification de manière transversale dans chaque projet.
          %p L’univers du web est en constante mutation, c’est pourquoi il nous est impératif de <strong>développer notre connaissance des utilisateurs</strong>, d’être à l’avant-garde des réflexions sur les nouvelles tendances en matière d’<strong>innovation</strong>, de <strong>technologie</strong>, d’<strong>usage</strong>, de <strong>design</strong>, de <strong>médias</strong>... pour identifier les <strong>opportunités stratégiques</strong> et d'<strong>innovation</strong> qui créent une <strong>valeur ajoutée</strong> tangible pour le utilisateurs.
          .features
            %h4 Services clés
            - ['Strategic Opportunities Thinking', 'Innovation', 'Consumer Insights', 'Competitive & Category Analysis', 'Market & Trends Analysis'].each do |feature|
              %ul.row-fluid
                %li.span10.offset2= "/ #{feature}"

    - (1..8).each do |i|
      .transition-square{id: "transition-square-#{i}"}


  %section#team
    .container
      %h2 ÉQUIPE
      %article#mike
        .avatar-big
        Moi, c'est <strong>Michael Baudino</strong>, je suis le co-fondateur d'#{link_to 'Alpine Lab', 'https://www.alpine-lab.com'} et c'est moi qui maintiens et qui écris sur ce blog. Je m'occupe aussi du compte Twitter.
        %br/
        Je suis particulièrement en charge de la partie administrative et financière, de l'intégration graphique (CSS), mais je fais aussi du Rails et du Ember, il n'y a pas de raison, c'est le plus fun !
        %br/
        Sinon, je fais du ski et du snowboard depuis un paquet de temps (je suis savoyard, après tout), j'aime le fromage, les diots, la Guinness et la bande dessinée (franco-belge). Je suis aussi fan de la Classe Américaine.
        %br/
        Je suis membre actif du réseau #{link_to 'Lyon.rb', 'http://lyonrb.fr'}, ancien de l'#{link_to 'EPITA', 'http://www.epita.fr'} et avant, j'étais directeur informatique du groupe #{link_to 'Acrelec', 'http://www.acrelec.com'}
        %p
          = link_to 'mailto:michael.baudino@alpine-lab.com' do
            %i.icon-envelope.icon-2x
          = link_to 'https://github.com/michaelbaudino', :target => :_blank do
            %i.icon-github.icon-2x
          = link_to 'https://twitter.com/kh_mike', :target => :_blank do
            %i.icon-twitter.icon-2x
          = link_to 'https://facebook.com/michael.baudino', :target => :_blank do
            %i.icon-facebook-sign.icon-2x
          = link_to 'http://www.linkedin.com/in/michaelbaudino', :target => :_blank do
            %i.icon-linkedin-sign.icon-2x
          = link_to 'https://plus.google.com/106674357559734809246', :target => :_blank do
            %i.icon-google-plus-sign.icon-2x
          = link_to 'tel:+33761909362' do
            %i.icon-phone.icon-2x
        .clearfix

      %article#thibault
        .avatar-big
        %br/
        Ça, c'est <strong>Thibault Dalban</strong>, l'autre co-fondateur d'#{link_to 'Alpine Lab', 'https://alpine-lab.com'}. C'est un ancien #{link_to 'Epitech', 'http://www.epitech.eu'} qui est passé par #{link_to 'Sopra Group', 'http://www.sopragroup.fr'} en tant que chef de projet de développement logiciel.
        %br/
        Il s'occupe notamment des relations avec les clients (stations et skieurs) parce qu'il comprend bien ce qu'ils attendent et qu'il exprime bien ce que nous on pense. Alors que moi, moins.
        %br/
        C'est un bauju (il vient des Bauges, le pays de la tome avec un seul "m"), c'est dire à quel point ça a été naturel pour lui de se lancer dans un projet de #{link_to 'vente de forfaits de ski en ligne', 'https://www.skiwallet.com', {:target => '_blank', :class => 'stealth'}} !
        %br/
        C'est aussi lui qui suit de près l'actualité des mobiles, tant côté matériel que logiciel, et l'évolution des comportements des utilisateurs depuis ces plate-formes.
        %p
          = link_to 'mailto:thibault.dalban@alpine-lab.com' do
            %i.icon-envelope.icon-2x
          = link_to 'https://github.com/thibaultdalban', :target => :_blank do
            %i.icon-github.icon-2x
          = link_to 'https://twitter.com/kh_thib', :target => :_blank do
            %i.icon-twitter.icon-2x
          = link_to 'https://facebook.com/thibault.dalban', :target => :_blank do
            %i.icon-facebook-sign.icon-2x
          = link_to 'http://fr.linkedin.com/pub/thibault-dalban/3/659/386', :target => :_blank do
            %i.icon-linkedin-sign.icon-2x
          = link_to 'https://plus.google.com/111655806475665469057', :target => :_blank do
            %i.icon-google-plus-sign.icon-2x
          = link_to 'tel:+33666075883' do
            %i.icon-phone.icon-2x
        .clearfix

      %article#mathilde
        .avatar-big
        %br/
        Cette jolie blonde, c'est <strong>Mathilde Aglietta</strong>, qui, en plus de nous amener un point de vue féminin sur le projet, gère toute notre communication (sur Internet, dans les médias traditionnels, nos partenariats, etc...).
        %br/
        Double diplomée (la classe !) à la fois de #{link_to 'Grenoble EM', 'http://www.grenoble-em.com'} (management) et de #{link_to 'Strate College', 'http://www.stratecollege.fr'} (design), elle s'intéresse à tout ce qui touche de près ou de loin au marketing, online et offline.
        %br/
        Elle aime #{link_to 'le bio, la nature et la mode', 'http://www.almostbio.com', {:target => '_blank', :class => 'stealth'}}, elle tient même un blog là-dessus qui s'appelle #{link_to 'AlmostBio', 'http://www.almostbio.com'}, parce que finalement, même en étant le profil le moins technique de l'équipe, elle l'est quand même vachement.
        %p
          = link_to 'mailto:mathilde.aglietta@alpine-lab.com' do
            %i.icon-envelope.icon-2x
          = link_to 'https://twitter.com/MatWdK', :target => :_blank do
            %i.icon-twitter.icon-2x
          = link_to 'https://www.facebook.com/mathilde.aglietta', :target => :_blank do
            %i.icon-pinterest.icon-2x
          = link_to 'http://pinterest.com/mwdk/', :target => :_blank do
            %i.icon-facebook-sign.icon-2x
          = link_to 'http://fr.linkedin.com/pub/mathilde-aglietta/31/2/6b6', :target => :_blank do
            %i.icon-linkedin-sign.icon-2x
          = link_to 'https://plus.google.com/107736371985260099287', :target => :_blank do
            %i.icon-google-plus-sign.icon-2x
        .clearfix

      %article#martin
        .avatar-big
        %br/
        <strong>Martin Thibault</strong> est un chic type et un designer brillant.
        %br/
        Avec plusieurs années de design (print, web et d'applications mobiles) dans des agences prestigieuses de New York et Paris, il a acquis assez de professionalisme pour contrebalancer son esprit d'artiste torturé.
        %br/
        Ça fait de lui un créatif incroyable avec qui il est d'une facilité étonnante de travailler, et nous sommes sacrément contents de l'avoir à bord de cette aventure.
        %br/
        Dans la vie, il aime le vintage, les GIFs animés, les fringues de hipster et le ski, évidemment (encore un savoyard !).
        %p
          = link_to 'mailto:martin.thibault@alpine-lab.com' do
            %i.icon-envelope.icon-2x
          = link_to 'https://twitter.com/martin_thibault', :target => :_blank do
            %i.icon-twitter.icon-2x
          = link_to 'http://fr.linkedin.com/pub/martin-thibault/14/a4/99', :target => :_blank do
            %i.icon-linkedin-sign.icon-2x
          = link_to 'https://plus.google.com/111477832549665352816', :target => :_blank do
            %i.icon-google-plus-sign.icon-2x
          = link_to 'http://www.m-a-r-t-i-n.org', :target => :_blank do
            %i.icon-globe.icon-2x
        .clearfix

      %article#steeve
        .avatar-big
        %br/
        Lui, c'est <strong>Steeve Galté</strong> notre passionné de tout. Il s'intéresse à plein de choses, mais toujours à fond : il a cette immense qualité qu'est la curiosité.
        %br/
        Steeve se situe quelque part entre sa formation d'architecte (diplomé d'état, s'il-vous-plait), le studio de création 3D qu'il a co-fondé (#{link_to 'Bloc Rendering', 'http://www.bloc-rendering.com'}), ses connaissances en intégration web et son expérience du design.
        %br/
        Il est à la vie comme au boulot : intéressé, intéressant et enthousiaste. Il aime s'amuser dans des registres variés : électronique, art, informatique, design, urbanisme, vidéo, etc...
        %br/
        Il écoute de la musique parfois étrange, mais on lui pardonne.
        %p
          = link_to 'mailto:steeve.galte@alpine-lab.com' do
            %i.icon-envelope.icon-2x
          = link_to 'https://twitter.com/_schnek_', :target => :_blank do
            %i.icon-twitter.icon-2x
          = link_to 'fr.linkedin.com/pub/steeve-galté/4b/1b8/b65/', :target => :_blank do
            %i.icon-linkedin-sign.icon-2x
          = link_to 'https://plus.google.com/107582896437284542284', :target => :_blank do
            %i.icon-google-plus-sign.icon-2x
        .clearfix

  %section#projects
    .container
      %h2 RÉALISATIONS
      .row-fluid
        %article.span6
          %h3
            SkiWallet
            %span.description
              Plateforme de vente en ligne de forfaits de ski
          .screenshot
            %a{href: 'https://www.skiwallet.com', target: :_blank}
              %img{src: image_path('projects-skiwallet.jpg')}
              .mask
                .mask-content
                  Bacon ipsum dolor sit amet drumstick pork loin sirloin short ribs, flank short loin ground round jowl shankle ribeye turkey. Shankle frankfurter andouille, pork chop tongue jerky tail.
        %article.span6
          %h3
            AlmostBio
            %span.description
              Web-magazine
          .screenshot
            %a{href: 'http://www.almostbio.com', target: :_blank}
              %img{src: image_path('projects-almostbio.jpg')}
              .mask
                .mask-content
                  Bacon ipsum dolor sit amet drumstick pork loin sirloin short ribs, flank short loin ground round jowl shankle ribeye turkey. Shankle frankfurter andouille, pork chop tongue jerky tail.
      .row-fluid
        %article.span6
          %h3
            YoupiJob
            %span.description
              Site communautaire de mise en relation entre particuliers
          .screenshot
            %a{href: 'http://www.youpijob.com', target: :_blank}
              %img{src: image_path('projects-youpijob.jpg')}
              .mask
                .mask-content
                  Bacon ipsum dolor sit amet drumstick pork loin sirloin short ribs, flank short loin ground round jowl shankle ribeye turkey. Shankle frankfurter andouille, pork chop tongue jerky tail.


  .container
    %section#hire-us
      .row
        .span9
          %h1.animate
            Un projet ?
            %i.icon-arrow-right
        .span3
          %h1
            %a.btn.btn-large.btn-danger{href: 'mailto:dahu@alpine-lab.com&subject=Faites-moi quelque chose de chouette !'}
              Engagez-nous

#push

